<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaohong.dao_interface.PopBlackListDetailMapper">
  <resultMap id="BaseResultMap" type="com.zhaohong.dao_bean.PopBlackListDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="base_id" jdbcType="BIGINT" property="baseId" />
    <result column="list_group" jdbcType="VARCHAR" property="listGroup" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="field_value" jdbcType="VARCHAR" property="fieldValue" />
    <result column="risk_label" jdbcType="VARCHAR" property="riskLabel" />
    <result column="list_status" jdbcType="INTEGER" property="listStatus" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, base_id, list_group, field_name, field_value, risk_label, list_status, created_time, 
    modified_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scaleph_pop_black_list_detail
    where id = #{id,jdbcType=BIGINT}
      and base_id = #{baseId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from scaleph_pop_black_list_detail
    where id = #{id,jdbcType=BIGINT}
      and base_id = #{baseId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhaohong.dao_bean.PopBlackListDetail">
    insert into scaleph_pop_black_list_detail (id, base_id, list_group, 
      field_name, field_value, risk_label, 
      list_status, created_time, modified_time
      )
    values (#{id,jdbcType=BIGINT}, #{baseId,jdbcType=BIGINT}, #{listGroup,jdbcType=VARCHAR}, 
      #{fieldName,jdbcType=VARCHAR}, #{fieldValue,jdbcType=VARCHAR}, #{riskLabel,jdbcType=VARCHAR}, 
      #{listStatus,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhaohong.dao_bean.PopBlackListDetail">
    insert into scaleph_pop_black_list_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="baseId != null">
        base_id,
      </if>
      <if test="listGroup != null">
        list_group,
      </if>
      <if test="fieldName != null">
        field_name,
      </if>
      <if test="fieldValue != null">
        field_value,
      </if>
      <if test="riskLabel != null">
        risk_label,
      </if>
      <if test="listStatus != null">
        list_status,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="baseId != null">
        #{baseId,jdbcType=BIGINT},
      </if>
      <if test="listGroup != null">
        #{listGroup,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldValue != null">
        #{fieldValue,jdbcType=VARCHAR},
      </if>
      <if test="riskLabel != null">
        #{riskLabel,jdbcType=VARCHAR},
      </if>
      <if test="listStatus != null">
        #{listStatus,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaohong.dao_bean.PopBlackListDetail">
    update scaleph_pop_black_list_detail
    <set>
      <if test="listGroup != null">
        list_group = #{listGroup,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldValue != null">
        field_value = #{fieldValue,jdbcType=VARCHAR},
      </if>
      <if test="riskLabel != null">
        risk_label = #{riskLabel,jdbcType=VARCHAR},
      </if>
      <if test="listStatus != null">
        list_status = #{listStatus,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and base_id = #{baseId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaohong.dao_bean.PopBlackListDetail">
    update scaleph_pop_black_list_detail
    set list_group = #{listGroup,jdbcType=VARCHAR},
      field_name = #{fieldName,jdbcType=VARCHAR},
      field_value = #{fieldValue,jdbcType=VARCHAR},
      risk_label = #{riskLabel,jdbcType=VARCHAR},
      list_status = #{listStatus,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
      and base_id = #{baseId,jdbcType=BIGINT}
  </update>
</mapper>