<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaohong.dao_interface.PopCloseHandleDetailMapper">
  <resultMap id="BaseResultMap" type="com.zhaohong.dao_bean.PopCloseHandleDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="base_id" jdbcType="BIGINT" property="baseId" />
    <result column="risk_type" jdbcType="INTEGER" property="riskType" />
    <result column="risk_scene" jdbcType="INTEGER" property="riskScene" />
    <result column="risk_feature" jdbcType="INTEGER" property="riskFeature" />
    <result column="case_start_time" jdbcType="TIMESTAMP" property="caseStartTime" />
    <result column="good_feature" jdbcType="VARCHAR" property="goodFeature" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, base_id, risk_type, risk_scene, risk_feature, case_start_time, good_feature, 
    created_time, modified_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scaleph_pop_close_handle_detail
    where id = #{id,jdbcType=BIGINT}
      and base_id = #{baseId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from scaleph_pop_close_handle_detail
    where id = #{id,jdbcType=BIGINT}
      and base_id = #{baseId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhaohong.dao_bean.PopCloseHandleDetail">
    insert into scaleph_pop_close_handle_detail (id, base_id, risk_type, 
      risk_scene, risk_feature, case_start_time, 
      good_feature, created_time, modified_time
      )
    values (#{id,jdbcType=BIGINT}, #{baseId,jdbcType=BIGINT}, #{riskType,jdbcType=INTEGER}, 
      #{riskScene,jdbcType=INTEGER}, #{riskFeature,jdbcType=INTEGER}, #{caseStartTime,jdbcType=TIMESTAMP}, 
      #{goodFeature,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhaohong.dao_bean.PopCloseHandleDetail">
    insert into scaleph_pop_close_handle_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="baseId != null">
        base_id,
      </if>
      <if test="riskType != null">
        risk_type,
      </if>
      <if test="riskScene != null">
        risk_scene,
      </if>
      <if test="riskFeature != null">
        risk_feature,
      </if>
      <if test="caseStartTime != null">
        case_start_time,
      </if>
      <if test="goodFeature != null">
        good_feature,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="baseId != null">
        #{baseId,jdbcType=BIGINT},
      </if>
      <if test="riskType != null">
        #{riskType,jdbcType=INTEGER},
      </if>
      <if test="riskScene != null">
        #{riskScene,jdbcType=INTEGER},
      </if>
      <if test="riskFeature != null">
        #{riskFeature,jdbcType=INTEGER},
      </if>
      <if test="caseStartTime != null">
        #{caseStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodFeature != null">
        #{goodFeature,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaohong.dao_bean.PopCloseHandleDetail">
    update scaleph_pop_close_handle_detail
    <set>
      <if test="riskType != null">
        risk_type = #{riskType,jdbcType=INTEGER},
      </if>
      <if test="riskScene != null">
        risk_scene = #{riskScene,jdbcType=INTEGER},
      </if>
      <if test="riskFeature != null">
        risk_feature = #{riskFeature,jdbcType=INTEGER},
      </if>
      <if test="caseStartTime != null">
        case_start_time = #{caseStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodFeature != null">
        good_feature = #{goodFeature,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and base_id = #{baseId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaohong.dao_bean.PopCloseHandleDetail">
    update scaleph_pop_close_handle_detail
    set risk_type = #{riskType,jdbcType=INTEGER},
      risk_scene = #{riskScene,jdbcType=INTEGER},
      risk_feature = #{riskFeature,jdbcType=INTEGER},
      case_start_time = #{caseStartTime,jdbcType=TIMESTAMP},
      good_feature = #{goodFeature,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
      and base_id = #{baseId,jdbcType=BIGINT}
  </update>
</mapper>